/* CSS Fonts */

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Medium.woff2') format('woff2'),
        url('fonts/Raleway-Medium.woff') format('woff'),
        url('fonts/Raleway-Medium.ttf') format('truetype'),
        url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Light.eot');
    src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Light.woff2') format('woff2'),
        url('fonts/Raleway-Light.woff') format('woff'),
        url('fonts/Raleway-Light.ttf') format('truetype'),
        url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.eot');
    src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Bold.eot');
    src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* CSS Reset */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* CSS Project for Project 1 "Aloha" RED Academy by Nate Nagle*/

/* Project Starts Here  */

html {
    scroll-behavior: smooth;
  }

body{
    color: white;
    /* width: fit-content; */
}

header{
    display: flex;
    padding: 2%;
    margin-left: 35px;
    width: 100%
}

.navbar{ 
    display: flex;
    font-family: Verdana;
    font-size: 18px;
    color: #2d2d2d;
    margin-top: 15%;
    margin-left: -340px;
    }

.navbar li{
    padding-right: 10px;
}


.logo{
    width: 45%;
    margin-left: -37px;
}

.cartcontainer img{
    width: 83px;
}

.cart{
    width: 40%;
    justify-content: center;
    align-items: center;
}


li a { 
    text-decoration: none;
    color: black;
}


.img-container{
    background: url(../images/girl.png) no-repeat, url(../images/background.jpg) no-repeat;
    background-size: contain, cover;
    background-position: center;
    height: 550px;
    width: 480px;
}

h1{
    font-size: 3em;
    z-index:1;
    position: absolute;
    margin-top: 44%;
    margin-left:15%;
    text-align: center;
}

h2{
    font-size: 1.4em;
    position: absolute;
    margin-top: 30%;
    margin-left: 34%; 
    z-index: 3;   
}


.break{
    background-color: white;
    color: black;
    text-align: center;
    padding: 9%;
    width: 480px;
    margin-bottom: 3%;
}

    h3{
        font-size: 2.1em;
        font-family: 'Playfair Display Italic', sans-serif;
        margin: 1.2%;
        margin-bottom: 6%;
    }

    h3 span{
        font-family: 'Playfair Display Bold', serif;
        font-weight: bold; 
    }

    .break p{
        text-align: center;
        font-size: .8 em;
        font-family: 'Playfair Display Italic', sans-serif;
    }

.images{

    display: grid;  
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
    grid-gap: 10px;
    grid-template-areas: 
        'a a'
        'b c'
        'd e'
        'f f';

    color: white;
}

.images img {
    width: 100%;
    height: 100%;
}

.images > div {
    position: relative;
}

.images h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 2.5em;
    color: white; 
    z-index: 3;
}

.mens {
    grid-area: a;
} 

.trends{
    grid-area: b;
}

.glasses{
    grid-area: c;
}

.sale{
    grid-area: d;
}

.bags{
    grid-area: e;
}

.womens{
    grid-area: f;
}

h5{
    position: relative;
    background-color: white;
    text-align: center;
    padding: 9%;
    max-width: 100%;
    font-size: 2.1em;
    font-family: 'Playfair Display Italic', sans-serif;
}

h5 span{
    font-family: 'Playfair Display Bold', serif;
    font-weight: bold; 
}

.mostloved{
    font-size: 2.1em;
    font-family: 'Playfair Display Italic', sans-serif;
    margin: 1.2%;
    margin-bottom: -5%;
    margin-left: 95px;
    margin-top: 60px;
    color: black;
}

     h3 span{
    font-family: 'Playfair Display Bold', serif;
    font-weight: bold; 
    color: black;
}

.carousel-cell{
    width: 100%;
    padding: 1rem;
}

.prefooter{
    background: url(../images/wave.jpg) no-repeat;  
    min-height: 350px;
     background-size: cover;
    background-position: center;
    width: 100%;
}
.prefootertext{
    display: flex;
    flex-direction: column;
  }
:nth-child(prefootertext) {
    align-content: center;
    justify-content: center;
}
h6{
    color: white;
    max-width: 100%;
    font-size: 2.1em;
    font-family: 'Playfair Display Italic', sans-serif;
    margin-left: 97px;
    margin-top: 75px;
    margin-bottom: 6%;
}

h6 span{
    font-family: 'Playfair Display Bold', serif;
    font-weight: bold;
}


.emailbutton{
    background-color: red;
    color:white;
    border-radius: 14px;
    margin-left: -64px;
}

.emailoptin{
    border-radius: 14px;
    width: 245px;
}

form{
    margin-left: 110px;
    margin-top: 30px;
}

.prefooter p{

    font-family: 'Playfair Display Italic', sans-serif;
    font-size: 1.2em;
    color: white;
    text-align: center;
}

footer{

    background-color:black;
    color: white;
    height: 100%;
    margin-top: .3%;
}

.social1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10%;
}

.contactinfo {
   margin-top: 4%;
   text-align: center;
}

.address{
    color: grey;
}

.social{
    display: none;
}

.far{
    margin-top: 27px;
}

.main-carousel .text{
    color: black;
    text-align: center;
}
/* 
======================================================================================

                                        TABLET

====================================================================================== */


@media only screen and (min-width: 600px){

    .cartcontainer{
        margin-left: 8px;
}
    
    header{
        margin-left: 35px;
    }

    .img-container{
    width: 600px;
}
    .inner-container{
        margin-top: 150px;
    }
    
    .navbar{
        margin-top: 6%;
        margin-left: -218px;
    }

    .break{
        width: 480px;
    }
    
    .images{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 'a a b c' 'd e f f';
        grid-auto-rows: 175px;
    }

    .images h3{
        font-size: 1.8em;
    }

    input{
        height: 25px;
    }

    .emailbutton{
        height: 31px;
    }

    footer{
 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 277px;
            }
    
    .contactinfo{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
        width: 35%;
        margin-left:3%;
    }
    
    .socialclass{
        display: flex;
        background-color:black;
        color:white;
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
        width: 10%;
    }
    
    .social1{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        justify-content: space-around;
    }

    .social{
        display: inline;
        color: white;
    }

    .carousel-cell{
        width: 50%;
        padding: 1rem;
    }

}

/* 
======================================================================================

                                        DESKTOP

====================================================================================== */


@media only screen and (min-width: 1240px) {
    
    header{
        width: 1240px;
    }

    .navbar{
        margin-left: 0px;
        margin-top: 4%;
    }

    .logocontainer{
        margin-left: 25px;
    }

    .cartcontainer{
        margin-left: 300px;
    }
    h1{
        font-size: 6em;
        margin-top: 21%;
        margin-left: 20%;
    }

    h2{
        font-size: 3em;
        margin-left: 30%;
        margin-top: 11%; 
    }
    .inner-container{
        margin-top: 100px;
    }

    .img-container{
        width: 100%;
    }

    .break{
        width: 1100px;
    }

    .images{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 'a a b c' 'd e f f';
        grid-auto-rows: 250px;
    }

    h6{
        margin-left: 40%;
    }

    .emailoptin{
        margin-left: 35%;
    }

    .prefooter p{
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 2%;
    }

    footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 168px;
            }
    
    .contactinfo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0%;
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
        width: 24%;
        margin-left:3%;
    }
    
    .socialclass{
        display: flex;
        background-color:black;
        color:white;
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
        width: 10%;
    }
    
    .social1{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        justify-content: space-around;
    }

    .carousel-cell{
        width: 25%;
        padding: 1rem;
    }


    }

