/* CSS Fonts */

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Medium.woff2') format('woff2'),
        url('fonts/Raleway-Medium.woff') format('woff'),
        url('fonts/Raleway-Medium.ttf') format('truetype'),
        url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Light.eot');
    src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Light.woff2') format('woff2'),
        url('fonts/Raleway-Light.woff') format('woff'),
        url('fonts/Raleway-Light.ttf') format('truetype'),
        url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.eot');
    src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Bold.eot');
    src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* CSS Reset */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* CSS Project for Project 1 "Aloha" RED Academy by Nate Nagle*/

/* Project Starts Here  */


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7%;
    padding: 2%;
}

.navbar {
    display: flex;
}
 
.navbar{
    flex-direction: row;
    vertical-align: bottom; 
    font-family: Verdana;
    font-size: 18px;
    color: #2d2d2d;
    width: 75%;
    }

.navbar, li {
    align-items: center;
    justify-content: space-around;
}

.logo{
    width: 75%;
    max-width: 170px;
}

.cartcontainer{
    display: flex;
    position: relative;
    justify-content: space-around;
}

.cart{
    width: 40%;
justify-content: center;
align-items: center;
}


.img-container{
    background: url(../images/girl.png) no-repeat, url(../images/background.jpg) no-repeat;
    display:flex;
    flex-direction: column;
    max-width: 100%;
    background-size: contain, cover;
    background-position: center;
    /* position: relative, absolute;
    align-items: center;
    justify-content: center; */
    height: 550px;

}

.inner-container{
    position: absolute;
    max-width: 100%;
    height:500px;
}
/*
.inner-container{
    display: flex;
  text-align: center;
  position: absolute;
  width: 100%;
  color: white;
  height: auto;
  margin-top: 200 px;

}
*/

h1{
    font-size: 4em;
    color: white;
    z-index:1;
    position: absolute;
    margin: 16%;
    margin-left:20%;
}

h2{
    font-size: 2em;
    color: white;
    position: absolute;
    margin: 11%;
    margin-left: 34%; 
    z-index: 3;   
}


.break{
    background-color: white;
    text-align: center;
   padding: 9%;
   max-width: 100%;
    }

    h3{
        font-size: 2.1em;
        font-family: 'Playfair Display Italic', sans-serif;
        margin: 1.2%;
    }

    h3 span{
        font-family: 'Playfair Display Bold', serif;
        font-weight: bold; 
    }

    .break p{
        text-align: center;
        font-size: .8 em;
        font-family: 'Playfair Display Italic', sans-serif;
    }


.images{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 1.5%;
}

.images > div{
    padding: .3%;
}

.images > img{
    display:flex;   
    max-width: 100%;
}

.mens {
    display: flex;
    max-width: 98%;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.menstext{
position: absolute;
text-transform: uppercase;
font-size: 2.5em;
color: white; 
    z-index: 3;

}

.trends{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 47.5%;
    z-index: 0;
}
.trendstext{
    z-index: 3;
    text-transform: uppercase;
    position: absolute;
    font-size: 2.5em;
    color: white; 
}

.glasses{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 47.5%; 
    z-index: 0;
}
.glassestext{
    z-index: 3;
    text-transform: uppercase;
    position: absolute;
    font-size: 2.5em;
    color: white; 
}

.sale{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 47.5%; 
    z-index: 0;
}
.saletext{
    position: absolute;
    text-transform: uppercase;
    z-index: 3;
    font-size: 2.5em;
    color: white; 
}

.bags{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 47.5%;
    z-index: 0;
}
.bagstext{
        position: absolute;
        text-transform: uppercase;
        z-index: 3;
        font-size: 2.5em;
        color: white; 
    }

.womens{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    z-index: 0;
}
.womenstext{
    position: absolute;
    text-transform: uppercase;
    z-index: 3;
    font-size: 2.5em;
    color: white; 
}

h5{
    position: relative;
    background-color: white;
    text-align: center;
    padding: 9%;
    max-width: 100%;
    font-size: 2.1em;
    font-family: 'Playfair Display Italic', sans-serif;
}

h5 span{
    font-family: 'Playfair Display Bold', serif;
    font-weight: bold; 
}


/* slider{
    display: block;
    width: 50%;
    height: 50%;
    overflow: hidden;
    position: absolute;
}

slider>*{
    position: absolute;
    display: block;
    width: 50%;
    height: 50%;
    animation: slide 14s infinite;
    overflow: hidden;


}

slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url(../images/blue-hipster-backpack.jpg);
    background-size: cover;
    background-position: center; 
}

slide:nth-child(2){
    left: 0%;
    animation-delay: 2s;
    background-image: url(../images/blue-silk-dress.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(3){
    left: 0%;
    animation-delay: 4s;
    background-image: url(../images/checked-stretch-dress.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(4){
    left: 0%;
    animation-delay: 6s;
    background-image: url(../images/cotton-blue-shirt.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(5){
    left: 0%;
    animation-delay: 8s;
    background-image: url(../images/cotton-yellow-tshirt.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(6){
    left: 0%;
    animation-delay: 10s;
    background-image: url(../images/demin-overall-shorts.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(7){
    left: 0%;
    animation-delay: 12s;
    background-image: url(../images/pink-dotted-dress.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(8){
    left: 0%;
    animation-delay: 14s;
    background-image: url(../images/stretch-knit-dress.jpg);
    background-size: cover;
    background-position: center;
}

slide p {
    font-family: Comfortaa;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 50%;
    margin-top: 340px;
    color: #fff;
}

@keyframes slide{
    0% { left 100%; width: 100%;}
    5% {left: 0%;}
    25% {left: 0%;}
    30% {left: -100%; width: 100%;}
    30.0001%{ left: 100%; width: 0%;} 
    100%{left: 100%; width: 0%;}

} */


.prefooter{
    background: url(../images/wave.jpg) no-repeat;  
    min-height: 350px;
     background-size: cover;
    background-position: bottom;
    width: 100%;
}
.prefootertext{
    display: flex;
    flex-direction: column;
  }
:nth-child(prefootertext) {
    align-content: center;
    justify-content: center;
}
h6{
    color: white;
    max-width: 100%;
    font-size: 2.1em;
    font-family: 'Playfair Display Italic', sans-serif;
}

h6 span{
    font-family: 'Playfair Display Bold', serif;
    font-weight: bold;
}

form{
    color: red;
    width: 90%;
    height: 2%;
}

.prefooter p{

    font-family: 'Playfair Display Italic', sans-serif;
    font-size: 1.4em;
    color: white;
    
}
     footer{
         margin-top:.3%;
         display: flex;
         flex-direction: row;
         align-items: center;
        justify-content: space-between;
        background-color:black;
        height: 168px;
             }

     .contactinfo{
        display: flex;
        justify-content: center;
        align-items: center;
         color: white;
         height: 100%;
         background-color: black;
         font-family: Arial, Helvetica, sans-serif;
         width: 24%;
         margin-left:3%;
     }

     .socialclass{
         display: flex;
         background-color:black;
         color:white;
         height: 100%;
         font-family: Arial, Helvetica, sans-serif;
         width: 10%;
             }

    .social1{

        display: flex;
       flex-direction: column;
        justify-content: flex-end;
        justify-content: space-around;
                   }

}

@media only screen and (min-width: 600px){
    .inner-container{
        margin-top: 150px;
    }
    h1 {
        font-size: 5em;
    }
    h2{
        font-size: 3em;
    }
}



@media only screen and (min-width: 1240px) {
    .inner-container{
        margin-top: 100px;
    }
    h1{
        font-size: 6em;
    }
    h2{
        font-size: 3em;
    }

    }

